.user-avatar {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
}

.notiv-avatar {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0.75rem;
    height: 40px;
    width: 40px;
    transition: all .2s ease-in-out;
}

a.disabled {
    color: gray;
    pointer-events: none;
}

/*		Sweet Alert		*/
.swal-footer {
    text-align: center !important;
    margin-bottom: 10px !important;
}

/* File Drop Input  */

.file-drop-area {

    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: .2s;
}

.choose-file-button {

    flex-shrink: 0;
    color: #fff;
    background-color: #344767;
    border-color: #344767;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;

}

.file-message {

    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    widows: 100%;
    cursor: pointer;
    opacity: 0;

}

/*--------------------------------------------------------------
# profile
--------------------------------------------------------------*/
.profile {
    padding-bottom: 40px;
}

.profile .nav-tabs {
    border: 0;
}

.profile .nav-link {
    border: 0;
    padding: 15px;
    transition: 0.3s;
    color: #364146;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    border-left: 4px solid #f5f3f3;
}

.profile .nav-link p {
    font-size: 14px;
    margin-bottom: 0;
}

.profile .nav-link:hover {
    background: #fafbfb;
}

.profile .nav-link.active {
    border-radius: 0;
    border: 0;
    border-left: 4px solid #14c871;
    background: #fafbfb;
}


.profile .nav-link.active p {
    color: #14c871;
}

.profile .tab-pane.active {
    -webkit-animation: slide-down 0.5s ease-out;
    animation: slide-down 0.5s ease-out;
}

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.total-count {
    position: absolute;
    top: -7px;
    right: +75px;
    background: #f6931d;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    font-size: 10px;
}
